/*====================== 
   Theme Header
========================*/

/* Header-Top */

.head-top {
    font-size: 14px;
}

.head-top-one {
    background-color: #ff3a54;
    color: #fff;
}

.head-top-two {
    background-color: #fff;
    border-bottom: 1px solid #ff3a54;
}

.head-top .socials {
    color: #fff;
}

.socials-header {
    margin: 12px 0;
}

.socials a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    display: inline-block;
    margin-right: 13px;
    padding-right: 13px;
    border-right: 1px solid #fff;
}

.footer .socials a {
    border-right: 1px solid #e1e1e1;
}

.head-top-two .socials a {
    color: #858585;
    border-right-color: #e1e1e1;
}

.socials a:hover {
    color: #000
}

.head-top-two .socials a:hover {
    color: #ff3a54;
}

.socials a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.head-contact li {
    text-transform: capitalize;
    line-height: 1;
    display: inline-block;
    margin: 5px 0;
    margin-left: 13px;
    padding: 5px 0;
    padding-left: 13px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.head-top-two .head-contact li {
    border-color: #e1e1e1;
}

.head-top-two .head-contact li a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.head-top-two .head-contact li:hover>a {
    color: #ff3a54;
}

.head-contact li i {
    margin-right: 7px;
}

.head-top-two .head-contact li i {
    color: #ff3a54
}

.head-contact li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.head-contact li.ad-list {
    border-left: 0
}

.language-drop .dropdown-item {
    padding: 10px;
    text-transform: capitalize;
    background-color: #fff;
    font-size: 14px;
}

.language-drop .dropdown-menu {
    min-width: 100px;
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.language-drop .dropdown-item:hover {
    color: #ff3a54;
}

.login-sign a {
    color: #000;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

/*-- header menu ---- */

.header {
    position: relative;
    z-index: 2;
}

.theme-header-one {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.theme-header-two {
    background-color: #fff;
}

.theme-header-two.affix.sticky-menu {
    background-color: #fff;
    padding: 0;
}

.join-nav {
    position: relative;
    padding-left: 30px;
}

.join-nav::after {
    position: absolute;
    content: "";
    left: 0;
    top: 21px;
    height: 21px;
    width: 1px;
    background-color: #e1e1e1;
}

.logo-two {
    padding: 11px 20px 0;
    background-color: #ff3a54;
    position: relative;
    z-index: 99;
    height: 100%;
    text-align: center;
    max-width: 255px;
}

.menu-two .navbar-toggler {
    top: -56px;
}

.logo-two::after {
    position: absolute;
    height: calc(100% + 10px);
    width: 100%;
    content: "";
    background-color: #ff3a54;
    left: 0;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-two a {
    position: relative;
    z-index: 9;
}

.menu-two .navbar-nav .nav-item a,
.menu-two .navbar-nav .dropdown-item a,
.menu-two .navbar-expand-lg .navbar-nav .nav-link {
    color: #000
}

.menu-two .navbar-nav .nav-item .nav-btn {
    padding: 11px 30px 8px;
    color: #fff
}

.menu .fa-search {
    font-size: 14px;
}