<body>
    <div class="container-scroller">
      <!--PArtial navbar-->
     <app-navbar></app-navbar>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_settings-panel.html -->
          <app-settings></app-settings>
        
          <!-- partial -->
          <!-- partial:partials/_sidebar.html -->
          <app-sidebar></app-sidebar>
        
          <!-- partial -->
          <div class="content-wrapper">
            <div class="col-md-2" style="margin-top: 200px;">
              <button mat-raised-button color="primary" 
              (click)="openDialog()"
              matTooltip="Click To Add A New User"
              >New Category</button>
            </div>
            <div class="col-md-6">
              <div class="example-header ">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
          

              <div [style.display]="spinner? 'block':'none'" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
             <!---->
           
             <mat-table [dataSource]="dataSource" matSort >
              <ng-container matColumnDef="imagelogo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Logo</mat-header-cell>
                <mat-cell *matCellDef="let row"> <img [src]="linkImg(row.imagelogo)" width="42" height="42" alt=""> </mat-cell>
              </ng-container>
            <ng-container matColumnDef="imagesidebar">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sidebar</mat-header-cell>
              <mat-cell *matCellDef="let row"> <img [src]="linkImg(row.imagesidebar)"  width="42" height="42" alt=""> </mat-cell>
            </ng-container>
            
              <!-- ID Column -->
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>
              <ng-container matColumnDef="metatitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Metatitle</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.metatitle}} </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="heading">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Heading </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.heading}}  </mat-cell>
              </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="brands">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > Brands </mat-header-cell>
                  <mat-cell *matCellDef="let row"  style="word-wrap: break-word"> {{row.brands}}  </mat-cell>
                </ng-container>

                  <!-- Progress Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Description </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.description}}  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="keywords">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Keywords </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.keywords}}  </mat-cell>
              </ng-container>


                <!-- Progress Column -->
                <ng-container matColumnDef="isParent">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > Isactive </mat-header-cell>
                  <mat-cell *matCellDef="let row" > {{row.isParent}} </mat-cell>
                </ng-container>

                  <!-- Progress Column -->
                  <ng-container matColumnDef="edit" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Edit </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="cursor:pointer;">
                      <button mat-raised-button color="primary" 
                      (click)="editData(row)"
              matTooltip="Click To Edit"
              >Edit</button>
              </mat-cell>
                      
                      
                     
              
                  </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="delete" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Delete</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="cursor:pointer;">
                        
                        <button mat-raised-button color="primary" 
                        (click)="deleteData(row)"
                matTooltip="Click To Delete"
                >Delete</button>
                </mat-cell>
                       
                    </ng-container>
          
            
        
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              
          </div>
        


         
          <ng-template #dialog>

            <form class="forms-sample" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="exampleInputName1"> Name</label>
                <input type="text" class="form-control" id="exampleInputName1" formControlName="name" placeholder="Name">
                <input type="hidden" formControlName="_id" >
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Brands</label><br>
                <select2 [data]="exampleData" 
         [options]="options"
         [width]="500"
         [value]="value"
         (valueChanged)="changed($event)"
         
></select2>
              </div>
              
              <div class="form-group">
                <label for="exampleInputPassword4">Metatitle</label>
                <input type="text" class="form-control" formControlName="metatitle" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Heading</label>
                <input type="text" class="form-control" formControlName="heading" placeholder="Heading">
              </div>
              <div class="form-group">
                <label for="exampleSelectPrimary">Parent Category</label>
                <select class="form-control border-primary" formControlName="parentcategory" id="exampleSelectPrimary">
                  <option *ngFor="let category of parentCategories" value="{{category}}">{{category}}</option>
                 
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Keywords</label>
                <angular-editor formControlName="keywords" id="one" [config]="editorConfig"></angular-editor>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Description</label>
                <angular-editor formControlName="description" id="two" [config]="editorConfig"></angular-editor>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword4">Content</label>
                <angular-editor formControlName="content" id="three" [config]="editorConfig"></angular-editor>
              </div>
              <div class="form-group">
                <label>Logo upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelected($event)" #filelogo  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewUrl" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="filelogo.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Sidebar upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelectedside($event)" #fileside  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewurlSide" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="fileside.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>



            
          
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>

          </ng-template>

          <ng-template #editdialog>

            <form class="forms-sample" [formGroup]="categoryForm" (ngSubmit)="onEdit()">
              <div class="form-group">
                <label for="exampleInputName1"> Name</label>
                <input type="text" class="form-control" id="exampleInputName1" formControlName="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Brands</label><br>
                <select2 [data]="exampleData" 
         [options]="options"
         [width]="500"
         [value]="value"
         (valueChanged)="changed($event)"
         
></select2>
              </div>
              
              <div class="form-group">
                <label for="exampleInputPassword4">Metatitle</label>
                <input type="text" class="form-control" formControlName="metatitle" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Heading</label>
                <input type="text" class="form-control" formControlName="heading" placeholder="Heading">
              </div>
              <div class="form-group">
                <label for="exampleSelectPrimary">Parent Category</label>
                <select class="form-control border-primary" formControlName="parentcategory" id="exampleSelectPrimary">
                  <option *ngFor="let category of parentCategories" value="{{category}}">{{category}}</option>
                 
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Keywords</label>
                <angular-editor formControlName="keywords" id="one" [config]="editorConfig"></angular-editor>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Description</label>
                <angular-editor formControlName="description" id="two" [config]="editorConfig"></angular-editor>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword4">Content</label>
                <angular-editor formControlName="content" id="three" [config]="editorConfig"></angular-editor>
              </div>
              <div class="form-group">
                <label>Logo upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelected($event)" #filelogo  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewUrl" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="filelogo.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Sidebar upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelectedside($event)" #fileside  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewurlSide" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="fileside.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>



            
          
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </ng-template>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <app-footer></app-footer>
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  </body>

  