<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top: 90px;">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard">
          <i class="icon-rocket menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Users</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" (click)="brandexpand=!brandexpand" href="javascript:void(0)" aria-expanded="false" aria-controls="page-layouts">
          <i class="icon-check menu-icon"></i>
          <span class="menu-title">Products</span>
          
        </a>
        <div class="collapse" id="page-layouts" [style.display]="brandexpand?'block':'none'">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" routerLink="/admin/products">All Products</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/admin/tags">Tags</a></li>
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" routerLink="/admin/categories">Categories</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Products</span>
        </a>
      </li>
     

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Categories</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" (click)="productexpand=!productexpand" href="javascript:void(0)" aria-expanded="false" aria-controls="page-layouts">
          <i class="icon-check menu-icon"></i>
          <span class="menu-title">Brands</span>
          
        </a>
        <div class="collapse" id="page-layouts" [style.display]="productexpand?'block':'none'">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" routerLink="/admin/brands">Manage Brands</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/admin/premiumbrands">Manage Premium Brands</a></li>
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="pages/layout/horizontal-menu.html">Horizontal Menu</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" (click)="slider=!slider" href="javascript:void(0)" aria-expanded="false" aria-controls="page-layouts">
          <i class="icon-check menu-icon"></i>
          <span class="menu-title">Manage Home</span>
          
        </a>
        <div class="collapse" id="page-layouts" [style.display]="slider?'block':'none'">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" routerLink="/admin/homeslider">Home Slider Section</a></li>
            
          </ul>
        </div>
      </li>
     
    </ul>
  </nav>