<body>
    <div class="container-scroller">
      <!--PArtial navbar-->
     <app-navbar></app-navbar>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_settings-panel.html -->
          <app-settings></app-settings>
        
          <!-- partial -->
          <!-- partial:partials/_sidebar.html -->
          <app-sidebar></app-sidebar>
        
          <!-- partial -->
          <div class="content-wrapper">
            <div class="col-md-2" style="margin-top: 200px;">
              <button mat-raised-button color="primary" 
              (click)="openDialog()"
              matTooltip="Click To Add A New User"
              >New Premium Brand</button>
            </div>
            <div class="col-md-6">
              <div class="example-header ">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
          
  
              <div [style.display]="spinner? 'block':'none'" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
             <!---->
           
             <mat-table [dataSource]="dataSource" matSort >
              <ng-container matColumnDef="imagelogo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Logo</mat-header-cell>
                <mat-cell *matCellDef="let row"> <img [src]="linkImg(row.imagelogo)" width="42" height="42" alt=""> </mat-cell>
              </ng-container>
            <ng-container matColumnDef="imagesidebar">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sidebar</mat-header-cell>
              <mat-cell *matCellDef="let row"> <img [src]="linkImg(row.imagesidebar)"  width="42" height="42" alt=""> </mat-cell>
            </ng-container>
            
             
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="heading">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Heading </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.heading}}  </mat-cell>
              </ng-container>
  
                <!-- Progress Column -->
                <ng-container matColumnDef="brand">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > Brand </mat-header-cell>
                  <mat-cell *matCellDef="let row"  style="word-wrap: break-word"> {{row.brand}}  </mat-cell>
                </ng-container>
  
                  <!-- Progress Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Description </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.description}}  </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="keywords">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Keywords </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.keywords}}  </mat-cell>
              </ng-container>
  
  
                <!-- Progress Column -->
                <ng-container matColumnDef="parentcategory">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > ParentCategory</mat-header-cell>
                  <mat-cell *matCellDef="let row" > {{row.parentcategory}} </mat-cell>
                </ng-container>
  
                  <!-- Progress Column -->
                  <ng-container matColumnDef="edit" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header > Edit </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="cursor:pointer;">
                      <button mat-raised-button color="primary" 
                      (click)="editData(row)"
              matTooltip="Click To Edit"
              >Edit</button>
              </mat-cell>
                      
                      
                     
              
                  </ng-container>
  
                    <!-- Progress Column -->
                    <ng-container matColumnDef="delete" >
                      <mat-header-cell *matHeaderCellDef mat-sort-header > Delete</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="cursor:pointer;">
                        
                        <button mat-raised-button color="primary" 
                        (click)="deleteData(row)"
                matTooltip="Click To Delete"
                >Delete</button>
                </mat-cell>
                       
                    </ng-container>
          
            
        
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              
          </div>
        
  
  
         
          <ng-template #dialog>
  
            <form class="forms-sample" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Logo upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelected($event)" #filelogo  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewUrl" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="filelogo.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label>Sidebar upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelectedside($event)" #fileside  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewurlSide" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="fileside.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleSelectPrimary">Brand Category</label>
                <select class="form-control border-primary" formControlName="brandcategory" id="exampleSelectPrimary">
                  <option  value="Premium">Premium</option>
                 
                 
                </select>
              </div>
              
             
            


              

            

              <div class="form-group">
                <label for="exampleSelectPrimary">Brands</label>
                <select class="form-control border-primary" formControlName="parentcategory" id="exampleSelectPrimarycc">
                  <option *ngFor="let category of parentCategories" value="{{category}}">{{category}}</option>
                 
                </select>
              </div>

              <div class="form-group">
                <label for="exampleSelectPrimary">Parent Category</label>
                <select class="form-control border-primary" formControlName="parentcategory" id="exampleSelectPrimarycc">
                  <option *ngFor="let category of parentCategories" value="{{category}}">{{category}}</option>
                 
                </select>
              </div>
  
             
              <div class="form-group">
                <label for="exampleInputPassword4">Description</label>
                <angular-editor formControlName="description" id="two" [config]="editorConfig"></angular-editor>
              </div>
  

              <div class="form-group">
                <label for="exampleSelectPrimary">CNF</label>
                <div class="row">
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="cnfname"  placeholder="Name">
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="cnfarea" placeholder="Area">
                  </div>

                    <!-- Grid column -->
                    <div class="col">
                      <!-- Default input -->
                      <input type="text" class="form-control" formControlName="cnfinvestment" placeholder="Investment">
                    </div>

                      <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="cnfteam" placeholder="Team">
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>

              <div class="form-group">
                <label for="exampleSelectPrimary">Distributor</label>
                <div class="row">
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="distributorname" placeholder="Name">
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="distributorarea" placeholder="Area">
                  </div>

                    <!-- Grid column -->
                    <div class="col">
                      <!-- Default input -->
                      <input type="text" class="form-control" formControlName="distributorinvestment" placeholder="Investment">
                    </div>

                      <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="distributorteam" placeholder="Team">
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>

              <div class="form-group">
                <label for="exampleSelectPrimary">Dealer</label>
                <div class="row">
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="dealername" placeholder="Name">
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="dealerarea" placeholder="Area">
                  </div>

                    <!-- Grid column -->
                    <div class="col">
                      <!-- Default input -->
                      <input type="text" class="form-control" formControlName="dealerinvestement" placeholder="Investment">
                    </div>

                      <!-- Grid column -->
                  <div class="col">
                    <!-- Default input -->
                    <input type="text" class="form-control" formControlName="dealerteam" placeholder="Team">
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              </div>
            
             
  
  
  
            
          
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
  
          </ng-template>
  
          <ng-template #editdialog>
            <form class="forms-sample" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Logo upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelected($event)" #filelogo  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewUrl" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="filelogo.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <label>Sidebar upload</label>
                <input type="file" style="display: none;" accept="image/*" (change)="onFileSelectedside($event)" #fileside  class="file-upload-default">
                <div class="input-group col-xs-12">
                  <div class="image-preview mb-3" >
                    
                    <img [src]="previewurlSide" width="82" height="82" />                 
                </div>
                  <div class="input-group-append">
                    <button class="file-upload-browse btn btn-info" (click)="fileside.click()" type="button">Upload</button>                          
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleSelectPrimary">Brand Category</label>
                <select class="form-control border-primary" formControlName="brandcategory" id="exampleSelectPrimary22">
                  <option  value="Premium">Premium</option>
                  <option  value="Premium">Non Premium</option>
                 
                </select>
              </div>
              
             
              <div class="form-group">
                <label for="exampleSelectPrimary">Category</label>
                <select class="form-control border-primary" formControlName="parentcategory" id="exampleSelectPrimary1">
                  <option *ngFor="let category of parentCategories" value="{{category}}">{{category}}</option>
                 
                </select>
              </div>
  
              <div class="form-group">
                <label for="exampleInputName1">Brand</label>
                <input type="text" class="form-control" id="exampleInputName1" formControlName="brand" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Title</label>
                <input type="text" class="form-control" formControlName="title" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Heading</label>
                <input type="text" class="form-control" formControlName="heading" placeholder="Heading">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Keywords</label>
                <angular-editor formControlName="keywords" id="one" [config]="editorConfig"></angular-editor>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Description</label>
                <angular-editor formControlName="description" id="two" [config]="editorConfig"></angular-editor>
              </div>
  
              <div class="form-group">
                <label for="exampleInputPassword4">Content</label>
                <angular-editor formControlName="content" id="three" [config]="editorConfig"></angular-editor>
              </div>
            
             
  
  
  
            
          
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
  
          </ng-template>
         
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <app-footer></app-footer>
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2017 <a href="#">UrbanUI</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  
    
  </body>
  